html, body {
    display: flex;
    flex-direction: column;
    
}

header,
footer {
    display: flex;
    margin: 0px 150px 0px 150px;
    padding: 20px 200px 20px 200px;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

header {
    
    justify-content: space-between;
    font-size: 24px;

}

footer {

    font-size: 18px;
    justify-content: center;

}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    padding-top: 0;
    max-width: fit-content;
}



button {
    max-width: 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 6px 14px;
}

#main-text-header {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header-link {
    padding: 8px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content {
    display: flex;
    flex: 1 0 auto;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0px 150px 0px 150px;
    padding: 50px 200px 50px 200px;
    justify-content: space-between;
    align-items: center;
    

}

.images {
    display: flex;
    flex-shrink: 0;
    max-width: 400px;
    max-height: auto;

}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

}

#information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #152937;
}

.image-row {
    display: flex;
    gap: 40px;

}

.image-row .images {
    max-width: 200px;
    max-height: auto;
}

.infomatic {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
    margin: 0px 150px 0px 150px;
    padding: 100px 200px 100px 200px;
}

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 100px 350px 100px 350px;
    padding: 30px 200px 30px 200px;
    border-radius: 8px;
    font-size: 18px;

}


.outline {
    border: 2px solid #E5E7EB;

}

.full {
    border: none;
}

#action-header {
    font-size: 36px;
    color: #E5E7EB;
    margin-bottom: 0;
}